.titolo {
    font-family: 'Palatino Linotype', 'Book Antiqua', "Palatino", serif;
    background-color: cadetblue;
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-size: 70px;
}

.intro,
#elenco {
    font-family: 'Trebuchet MS', sans-serif;
    
}

.intro {
    font-size: 30px;
}

#elenco {
    background-color: azure;
    text-align: center;
    
}

li {
    list-style: none;
    display: inline-block;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: aqua;
    color: #ffffff;
    border-radius: 10px;
    font-size: 25px;
    padding: 7px;
}

button:hover {
    background-color: chartreuse;
}